/* Parralax Button */
.btn-parallax {
    display:inline-block;
    padding: .8rem 1.6rem;
    margin: 0 .6rem .4rem 0;
    font-size: .9rem;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    cursor: pointer;
}

.btn-parallax.read-more {
    color: white;
    background-color: var(--black);
    border: 2px solid var(--black);
    transition: all .3s ease;
}

.btn-parallax.view-product {
    color: white;
    background-color: var(--accent-regular);
    border: 2px solid var(--accent-regular);
    transition: all .3s ease;
}

.btn-parallax:hover {
    color: black;
    background-color: transparent;
    border: 2px solid var(--black);
}

/* Home Button */
.btn-home-general {
    color: var(--accent-regular);
    margin: 2rem 1rem 1rem;
    padding: 1rem 2rem;
    font-weight: bolder;
    font-size: 1rem;
    border: 2px solid var(--accent-regular);
    cursor: pointer;
    transition: all .3s ease;
}

.btn-home-general:hover {
    color: white;
    background-color: var(--black);
    border-color: var(--black);
}

.btn-discount {
    color: white;
    background-color: var(--accent-regular);
    margin: 2rem 1rem 1rem;
    padding: 1rem 4rem;
    font-weight: bolder;
    font-size: 1rem;
    border: 2px solid var(--accent-regular);
    cursor: pointer;
    transition: all .3s ease;
}

.btn-discount:hover {
    color: black;
    background-color: transparent;
    border-color: var(--black);
}

@media only screen and (max-width: 320px) {
    .btn-parallax { 
        display: block;
        margin:0.4em auto;
    }
}