.home .discount {
    padding: 6rem 10% 4rem;
    position: relative;
}

.home .discount .container {
    background-color: var(--light-bg);
    display: grid;
    grid-template-columns: 50% 50%;
}

.home .discount .container section {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  perspective: 1000px;
}
    
.home .discount .container section::before{
  content: " sad";
  position: absolute;
  height: 240px;
  width: 240px;
  transform: translate(-150px, -100px);
  background: linear-gradient(90deg,#ff0000,#ff5f00);
  border-radius: 50%;
}
  
.home .discount .container section::after{
  content: "asdas ";
  position: absolute;
  height: 240px;
  width: 240px;
  transform: translate(150px, 100px);
  background: linear-gradient(90deg,#06524e,#06eee2);
  border-radius: 50%;
}

.home .discount .container .wallpaper{
  background-image: url('../../images/wallpapers/unsplash-patrick-schneider-5xltWMpkN3E.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  height: 50rem;
}
  