.home .discount {
  background-color: var(--light-bg);
  padding: 0 2%;
  margin: 6rem 6% 4rem;
  position: relative;
  transition: all 0.3s ease;
}

.home .discount .container {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    height: 50rem;
}

.home .discount .container section {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  perspective: 1000px;
}

.home .discount .container .wallpaper {
  background-image: url('../../images/wallpapers/unsplash-patrick-schneider-5xltWMpkN3E.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  height: 50rem;
}

.home .discount .container section {
  margin: 2rem 0;
}

.home .discount .container h1 {
  color: var(--black);
  font-size: 3rem;
  line-height: 2rem;
}

.home .discount .container h3 {
  color: var(--accent-regular);
  font-size: 2rem;
}

.home .discount .container p {
  color: var(--black);
  font-size: 1rem;
  line-height: 2rem;
  padding: 0 20%;
}
  
@media only screen and (max-width: 1200px ) {
  .home .discount .container {
    grid-template-columns: 100%;
  }

  .home .discount .container .wallpaper {
    display: none;
  }
}

@media only screen and (max-width: 600px ) {
  .home .discount {
    margin: 0;
  }
}

/* .home .discount .container section {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  perspective: 1000px;
}
    
.home .discount .container section::before {
  content: " ";
  position: absolute;
  height: 240px;
  width: 240px;
  transform: translate(-150px, -100px);
  background: linear-gradient(90deg,#ff0000,#ff5f00);
  border-radius: 50%;
}
  
.home .discount .container section::after {
  content: " ";
  position: absolute;
  height: 240px;
  width: 240px;
  transform: translate(150px, 100px);
  background: linear-gradient(90deg,#06524e,#06eee2);
  border-radius: 50%;
}
*/