.home .header .parallax {
    height: 40rem;
    padding: 12rem 10%;
    text-align: left;
}

.home .header #player {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
    z-index: -1;
}

.home .header .parallax .slogan {
    color: white;
    width: 50%;
}

.home .header .parallax .slogan h1,
.home .header .parallax .slogan h2 {
    line-height: 2rem;
}

.home .header .parallax .slogan h1 {
    color: white;
    font-size: 3rem;
}

.home .header .parallax .slogan h2 {
    color: #C0AA82;
    font-size: 1.8rem;
}

.home .header .parallax .slogan p {
    font-size: 1.2rem;
}

@media only screen and (max-width: 1200px ) {
    .home .header .parallax .slogan {
        color: white;
        width: 60%;
    }

    .home .header .parallax .slogan h1 {
        font-size: 2.8rem;
    }
    
    .home .header .parallax .slogan h2 {
        font-size: 1.6rem;
    }

    .home .header .parallax .slogan p {
        font-size: 1rem;
    }
}


@media only screen and (max-width: 768px) {
    .home .header .parallax .slogan {
        width: 100%;
    }
}

  
@media only screen and (max-width: 320px) {
    .home .header .parallax {
        padding: 10rem 10%;
    }

    .home .header .parallax .slogan h1 {
        font-size: 1rem;
        line-height: 1rem;
    }
    
    .home .header .parallax .slogan h2 {
        font-size: .8rem;
        line-height: 1rem;
    }
}