.home .header .parallax {
    padding: 220px 10rem;
    text-align: left;

    /* The image used */
    background-image: url("../../images/landscapes/pexels-jason-villanueva-851555.jpg");
  
    /* Set a specific height */
    height: 40rem;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home .header .parallax .slogan {
    color: white;
    width: 45%;
}

.home .header .parallax .slogan h1 {
    font-size: 2rem;
    font-weight: 900;
}