.home .header .parallax {
    height: 40rem;
    padding: 12rem 10rem;
    text-align: left;
}

.home .header #player {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
    z-index: -1;
}

.home .header .parallax .slogan {
    color: black;
    width: 50%;
}

.home .header .parallax .slogan h1,
.home .header .parallax .slogan h2 {
    line-height: 5rem;
}

.home .header .parallax .slogan h1 {
    color: #242424;
    font-size: 6.6rem;

}

.home .header .parallax .slogan h2 {
    color: #C0AA82;
    font-size: 2rem;

}

.home .header .parallax .slogan p {
    color: #242424;
    font-size: 1.2rem;
}