.home .highlight {
    background-color: var(--dark-bg);
    padding: 5rem 10%;
    height: auto;
    text-align: left;
    position: relative;
    display: grid;
    grid-template-columns: 45% 55%;
    overflow: hidden;
}

.home .highlight .left {
    padding: .8rem;
    width: auto;
}

.home .highlight .left h1,
.home .highlight .left h2 {
    padding: 0;
    margin: 0;
    line-height: 1.6rem;
}

.home .highlight .left h1 {
    color: white;
    font-weight: 900;
    font-size: 3rem;
}

.home .highlight .left h2 {
    color: var(--accent-regular);
    font-weight: 900;
}

.home .highlight .left p {
    color: var(--accent-regular);
    margin-top: 2.2rem;
    font-size: 1.2rem;
}

.home .highlight .left svg {
    color: var(--accent-lighter);
    height: 40rem;
    width: 40rem;
    position: absolute;
    top: 18rem;
    left: 1rem;
    transform: rotate(35deg);
}

.home .highlight .right {
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.home .highlight .right div {
    padding: 1rem;
}

.home .highlight .right div svg {
    color: var(--accent-regular);
    width: 4rem;
    height: 4rem;
    padding: 0 0 .2rem 0;
}

.home .highlight .right div h2 {
    font-weight: 900;
}

.home .highlight .right div p {
    font-size: .9rem;
    line-height: 1.4rem;
}

@media only screen and (max-width: 992px) {
    .home .highlight {
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .home .highlight .right {
        grid-template-columns: repeat(1, 1fr);
    }

    .home .highlight .left h1,
    .home .highlight .left h2 {
        line-height: 2rem;
    }

    .home .highlight .left svg {
        top: 34rem;
        left: 1rem;
    }
}