.home .products {
    background-color: var(--light-bg);
    padding: 6rem 10% 4rem;
    position: relative;
}

.home .products .bg {
    font-size: 8rem;
    font-weight: 900;
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;

    filter: alpha(opacity=5);
    -webkit-opacity: .05;
    -moz-opacity: .05;
    opacity: .05;
    z-index: 1;
    zoom: 1;
}

.home .products h1.heading {
    margin: 0 0 4rem 0;
    font-size: 2.4rem;
    line-height: 1rem;
}

.home .products h2.subheading {
    color: var(--accent-regular);
}

.home .products .gallery1 {
    margin: 0 auto;
    height: 20rem;
    width: 90%;
    max-width: 72rem;
    display: flex;
    gap: 1rem;
}

.home .products .gallery1 .cat-card {
    flex: 1;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    border-radius: .6rem;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
    filter: grayscale(1);
    cursor: pointer;
}

.home .products .gallery1 .cat-card svg {
    color: white;
    height: 5rem;
    width: 5rem;

    position: absolute;
    margin: 1rem auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.home .products .gallery1 .cat-card p {
    color: white;
    font-weight: 300;
    visibility: hidden;
    position: absolute;
    bottom: 0;
}

.home .products .gallery1 .cat-card.active, 
.home .products .gallery1 .cat-card:hover {
    flex: 3;
    filter: none;
    border-radius: .6rem;
}

.home .products .gallery1 .cat-card:after {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.6) 100%) repeat 0 0;
    z-index: 1;
}


.home .products .gallery1 .cat-card.active p {
    visibility: visible;
    animation: fadeIn 3s;
    z-index: 2;
}

.home .products .gallery1 .cat-card.active svg {
    visibility: hidden;
}

.home .products .gallery2 {
    width: 100%;
    display: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.home .products .gallery2 .items {
    display: flex;
    padding: 10px;
}

.home .products .gallery2 .items .item {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: center;
}

.home .products .gallery2 .items img {
    width: 25rem;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.home .products .gallery2 .items p {
    margin-top: 10px;
    text-align: center;
    width: auto;
}

.home .products .recent {
    margin: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home .products .recent .prod-card {
    background-color: white;
    width: 30%;
}

@media only screen and (max-width: 1200) {
    .home .products .gallery1 .cat-card p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 992px) {
    .home .products .bg {
        font-size: 8rem;
    }

    .home .products .gallery1 .cat-card p {
        font-size: .6rem;
    }
}

@media only screen and (max-width: 768px) {
    .home .products .bg {
        font-size: 5rem;
    }

    .home .products h1.heading { 
        font-size: 1.8rem;  
    } 

    .home .products h2.subheading {
        font-size: 1rem;
    }

    .home .products .gallery1 {
        display: none;
    }

    .home .products .gallery2 {
        display: flex;
    }
}

@media only screen and (max-width: 320px) {
    .home .products .bg {
        font-size: 4rem;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}